
a{
    color: red;
}
a:hover{
    background-color: blue;
    color: white;
    font-weight: bold; 
 }

table{
    width: 100%;
       line-height: 400%;

}
form {
    word-spacing: 5px;
    line-height: 20px;
}
.header{
    background-color: lightblue;
    color: white; 
}

